<html xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Венгерская рапсодия</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/reset.css"/>

    <link rel="stylesheet" href="css/styles.css"/>

</head>
<body class="site">
<header>
    <div class="ui inverted segment">
        <div class="ui center aligned container">
            <img class="ui middle aligned small image" src="images/logo.png">
            <span class="ui center large inverted header">Блог о настольных варгеймах</span>
        </div>
    </div>
</header>
<main class="site-content">
    <div class="ui container">
        <div class="ui three item menu">
            <a class="active item" href="index.html">Блог</a>
            <a class="item">Статьи</a>
            <a class="item" href="contacts.html">Об авторе</a>
        </div>
        <div class="ui two column grid">
            <div class="four wide column">
                <div class="ui secondary vertical pointing menu">
                    <a class="item active" href="index.html">
                        Последние <br> публикации
                    </a>
                    <a class="item" href="#">
                        Архив
                    </a>
                    <a class="item" href="#">
                        Тэги
                    </a>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui breadcrumb">
                    <a class="section" href="index.html">Блог</a>
                    <div class="divider"> /</div>
                    <div class="active section">Венгерская рапсодия</div>
                </div>
                <h1>Венгерская рапсодия</h1>
                <div class="content">
                    <div class="meta">
                        <p>Опубликовано <span class="date">15 ноября 2020</span></p>
                    </div>
                    <p><img class="ui medium right floated rounded image" src="images/rhapsody.jpg">При всей очевидности
                        идеи, ни&nbsp;разу в&nbsp;истории хобби не&nbsp;был издана игра с&nbsp;возможностью
                        розыгрыша многочисленных сценариев гипотетического конфликта на&nbsp;одной и&nbsp;той&nbsp;же
                        карте,
                        но&nbsp;в&nbsp;разные
                        стартовые даты, которая&nbsp;бы учитывала изменение состава войск и&nbsp;модернизацию вооружения
                        противоборствующих сторон, позволяла&nbsp;бы взглянуть на&nbsp;эволюцию противостояния в&nbsp;рамках
                        пресловутой &laquo;Гонки вооружений&raquo;. Ведь на&nbsp;протяжении всей Холодной войны мир не&nbsp;раз
                        оказывался на&nbsp;грани начала вооруженного конфликта сверхдержав.</p>
                    <p>Элементарно! Многочисленные варгеймы посвящены конфликту, стартующему с&nbsp;линии границы ФРГ и&nbsp;ГДР,
                        но&nbsp;никто так и&nbsp;не&nbsp;догадался сделать варгейм, позволяющий игрокам, начинать игру в&nbsp;разные
                        исторические даты, когда Холодная война рисковала перейти в&nbsp;&laquo;горячую&raquo; стадию. А&nbsp;ведь
                        большая часть этих игр географически происходила на&nbsp;карте одного и&nbsp;того&nbsp;же
                        региона.</p>
                    <p>Карл Фунг, автор игры с&nbsp;красивейшим названием &laquo;Железный занавес&raquo; (и&nbsp;красивейшей,
                        зловещей обложкой, за&nbsp;дизайн которой отвечал Николас Эскуби):</p>
                    <ul>
                        <li>не&nbsp;только проделал титаническую работу по&nbsp;воссозданию боевого расписания сторон
                            (сухопутных
                            войск и&nbsp;ВВС) разных лет (в&nbsp;игре сценарии рассматривающие возможность войны в&nbsp;1945,
                            1962,
                            1976, 1983 и&nbsp;1989&nbsp;годах)
                        </li>
                        <li>дал сценариям поэтичные названия, использовав названия популярных песен соответствующей
                            эпохи
                        </li>
                        <li>снабдил все сценарии любопытнейшими комментариями о&nbsp;причинах и&nbsp;предпосылках
                            гипотетического
                            конфликта
                        </li>
                        <li>но&nbsp;и&nbsp;включил в&nbsp;состав сценариев совсем уж&nbsp;необычные, посвященные
                            возможной
                            атаке
                            НАТО на&nbsp;страны Варшавского договора с&nbsp;целью раз и&nbsp;навсегда покончить с&nbsp;коммунистической
                            угрозой. (Три сценария из&nbsp;восьми посвящены атаке &laquo;капиталистов&raquo;, начиная с&nbsp;&laquo;Операции
                            &laquo;Немыслимое&raquo; в&nbsp;1945&nbsp;году, и&nbsp;заканчивая попыткой &laquo;ускорить
                            Перестройку&raquo;
                            в&nbsp;1989&nbsp;году)
                        </li>
                    </ul>
                    <p>И&nbsp;это еще не&nbsp;все!</p>
                    <p></p>Наверное, главной фишкой игры Iron Curtain (наряду с&nbsp;включением в&nbsp;игру серии SCS
                    достаточно
                    подробных правил, касающихся войны в&nbsp;воздухе) является использование уникальной механики
                    развертывания войск обеих сторон прямо &laquo;из&nbsp;казарм&raquo;, путем включения в&nbsp;каждую
                    партию предварительной стадии, состоящей из&nbsp;неопределенного числа подготовительных ходов (Run
                    Up&nbsp;turns).
                    Имеется в&nbsp;виду, что период нарастания напряженности (переход из&nbsp;фазы &laquo;Спокойствие,
                    это
                    всего лишь учения!&raquo; в&nbsp;стадию &laquo;Внимание! Боевая тревога! Это не&nbsp;учения!
                    Повторяю
                    это не&nbsp;учения&raquo;) может произойти совершенно внезапно, и&nbsp;непонятно, какая из&nbsp;сторон
                    окажется застигнутой врасплох. И&nbsp;лишь по&nbsp;завершении стадии Run Up&nbsp;в&nbsp;силу
                    вступает
                    стандартная последовательность игры серии SCS. Таким образом каждый раз игроки получают новую
                    неповторимую изначальную расстановку в&nbsp;каждом сценарии! Игра таит в&nbsp;себе просто
                    фантастические
                    возможности по&nbsp;повторному розыгрышу сценариев.</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Карта сайта</h4>
                    <div class="ui inverted link list">
                        <a href="index.html" class="item">Блог</a>
                        <a href="#" class="item">Статьи</a>
                        <a href="contacts.html" class="item">Об авторе</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Блог о настольных варгеймах. &copy; 2020</h4>
                    <div class="ui list">
                        <div class="item">
                            <i class="mail icon"></i>
                            <div class="content">
                                <a href="mailto:antonklyukin@prowargame.ru">antonklyukin@prowargame.ru</a>
                            </div>
                        </div>
                        <div class="item">
                            <i class="linkify icon"></i>
                            <div class="content">
                                <a href="http://www.prowargame.ru">prowargame.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>

</html>